#root {
  background-color: aqua;
  min-width: 40vh;
  min-height: 40vh;
  margin: 20px;
  padding: 6px;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}